.pager {
  text-align: center;
}
.pager__display,.pager__list {
  display: inline-block;
  vertical-align: middle;
}
.pager__display {
  margin-right: 36px;
}
.pager__item {
  display: inline-block;
  vertical-align: middle;
  
}
.pager__item--active .pager__link {
  background: #FFFFFF;
  color: #F5170E;
}
.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  text-decoration: none;
  border-radius: 50%;
  font-weight: bold;
  line-height: 32px;
  
  
}
.pager__services {
  color: #000000;
}
.pager__item--services--active .pager__link {
  background: #F5170E;
  color: #FFFFFF;
}